.MainApp{
    width: 100%;
    div{
        :nth-child(1){
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }
}


.vidContainer{
    display: flex;
    align-items: center;
    margin: 10px 0;
    svg{
        &:hover{
            cursor: pointer;
        }
    }
}