* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.buttonBase {
  padding: 5px;
  border: 1px solid black;
  margin: 10px;
  background: none;
}
.buttonBase:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}
.MainApp {
  display: flex;
  position: relative;
  width: 100%;
}
.MainApp :nth-child(1) {
  flex-grow: 1;
}
.MainApp div {
  padding-bottom: 15px;
}
.MainApp div :nth-child(1) {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-grow: 0;
}
.MainApp .sideBar {
  width: 100px;
  min-width: 100px;
  max-height: 100vh;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
}
.MainApp .sideBar div {
  padding: 0;
}
.MainApp .sideBar .signOutButton {
  padding: 5px;
  border: 1px solid black;
  margin: 10px;
  background: none;
}
.MainApp .sideBar .signOutButton:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}
.MainApp .sideBar a {
  text-decoration: none;
  align-self: flex-start;
  padding-left: 5px;
}
.MainApp .sideBar .activeNavLink {
  color: black;
  border-left: 5px solid black;
}
.MainApp #onFocus {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
}
.vidContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.vidContainer svg:hover {
  cursor: pointer;
}
.vidContainer .scanToggle {
  position: absolute;
  bottom: -15px;
  left: 40%;
  border: 1px solid black;
  padding: 1px 5px;
}
.vidContainer .scanToggle:hover {
  background-color: bisque;
  cursor: pointer;
}
.vidContainer .focused {
  position: fixed;
  top: 35%;
  left: 40%;
  transform: scale(3);
  z-index: 10;
  background-color: black;
}
form {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-self: center;
}
form input {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid black;
}
form input:focus {
  outline: none;
  border: 2px solid black;
}
form div {
  display: flex;
  justify-content: center;
}
form div .button {
  padding: 5px;
  border: 1px solid black;
  margin: 10px;
  background: none;
}
form div .button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}
.detectionImage {
  display: block !important;
  min-width: 28.57142857%;
  margin: 15px;
}
.detectionImage img {
  width: 100%;
}
.detectionGallery {
  padding-right: 100px;
}
.detectionGallery .imagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.detectionVideo {
  display: block !important;
  max-width: 28.57142857%;
  margin: 15px;
}
.detectionVideo video {
  width: 100%;
}
@media (max-width: 500px) {
  .detectionVideo {
    min-width: 100%;
  }
}
.videoDetections {
  padding-right: 100px;
}
.videoDetections .vidsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #00887a;
  background: linear-gradient(130deg, rgba(0, 136, 122, 0.98112749) 0%, #d3e3fc 100%);
}
